html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    height: auto;
    scroll-behavior: smooth;
    background: linear-gradient(141deg, lightsteelblue 0%, cornflowerblue 51%, dodgerblue 75%) no-repeat;
    margin: 0;
    min-width: 250px;
}

h1{
    text-align: center;
    font-size: 72px;
}


* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}
ul li {
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: lightgray;
    font-size: 18px;
}

ul li:nth-child(odd) {
    background: white;
}
ul li:hover {
    background: #f5f5f5;
}


ul li.checked {
    background-color: #6a6a6a;
    color: white;
    text-decoration: line-through;
}

ul li.checked:hover {
    background: goldenrod;
    color: #6a6a6a;
}

.header {
    padding: 30px 40px;
    color: #333;
    text-align: center;
}


.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 50%;
    padding: 15px;
    float: initial;
    font-size: 20px;
}

.add {
    padding: 15px;
    width: 25%;
    background: #333;
    color: white;
    float: initial;
    text-align: center;
    font-size: 20px;
}

.add:hover {
    background-color: goldenrod;
    color: #6a6a6a
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

