<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel = "Stylesheet" type = "text/css" href = "style.css"/>
    <!-- <script type = "text/javascript" src = "blog.js"></script> -->
    <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script type = "text/javascript" src = "blog.js"></script>


</head>
<body id = "myBody">
    <div>
        <ul>
            <li><a href = "/">Home</a></li>
        <li class = "dropdown">
            <a class = "dropbtn">Font Resisze</a>
            <div class = "dropdown-content">
                <a onclick="bigger()">Bigger</a>
                <a onclick="smaller()">Smaller</a>
            </div>
        </li>
        <li><a href = "admin/login">Admin Login</a></li>
            <li class = "dropdown">
                <a class = "dropbtn">Style</a>
                <div class = "dropdown-content">
                    <a onclick="background1()">Space</a>
                    <a onclick="background2()">Mt. Top</a>
                    <a href = "">Blue</a>
                </div>
            </li>
        </ul>
    </div>
        <form class = "container">
            <input type = 'text' id = "title" placeholder="Your title here..."><br><br>
            <textarea name="Content" id = "content" placeholder="Share to the World here :)"></textarea><br><br>
            <button class = "button" onclick="addPost()">Submit</button>
        </form>
</body>
</html>