<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update posts</title>
    <link rel = "Stylesheet" type = "text/css" href = "../style.css"/>
    <script type = "text/javascript" src = "../blog.js"></script>
</head>
<body id ="myBody">
<div>
    <ul>
    <li><a href = "/">Home</a></li>
    <li class = "dropdown">
        <a class = "dropbtn">Font Resisze</a>
        <div class = "dropdown-content">
            <a onclick="bigger()">Bigger</a>
            <a onclick="smaller()">Smaller</a>
        </div>
    </li>
    <li><a href = "login">Admin Login</a></li>
        <li class = "dropdown">
            <a class = "dropbtn">Style</a>
            <div class = "dropdown-content">
                <a onclick="background1()">Space</a>
                <a onclick="background2()">Mt. Top</a>
                <a href = "">Blue</a>
            </div>
        </li>
        <li class = "dropdown">
            <a class = "dropbtn">Post</a>
            <div class = "dropdown-content">
                <a href = "../post">Post</a>
                <a href = "add_post">Add</a>
                <a href = "update_post">Update</a>
                <a href = "list_posts">View</a>
            </div>
        </li>
    </ul>
    </div>
        <!-- load post by post id and then have a form that loads the text 
            this will require to fetch the data from the database
        title = post_id.title
        content = post_id.content -->
            <form class = "container">
                <input type = "text" value = "post_id"><br><br>
                <textarea name = "Content" value = "post_id.content"></textarea><br><br>
                <button class = "button" onclick="updatePost()">Update</button>
            </form>
</body>
</html>